@import "tailwindcss";
@config "../../tailwind.config.js";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  @apply text-[calc(100vw/375)] md:text-[calc(100vw/768)] pc:text-[1px] 2pc:text-[calc(100vw/1921)] scroll-smooth;
  /* scrollbar-gutter: stable; */
}

body {
  /* background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif; */
  @apply text-14 pc:text-16 text-black font-light font-noto-sans leading-[1.5];
}
